# Core
langchain
langchain-community
langchain-core
langchain-ollama
langchain-chroma
langchain-groq


# Embeddings + Models
sentence-transformers
transformers
torch

# Vector DB
chromadb

# PDF Processing
pypdf

# Multi-query + utilities
numpy
scikit-learn

python-dotenv

fastapi
python-multipart
uvicorn[standard]

# Authentication
PyJWT
bcrypt
pydantic

# Database
sqlalchemy



